<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="KaliemieConnect" connectionString="metadata=res://*/mdlKaliemie.csdl|res://*/mdlKaliemie.ssdl|res://*/mdlKaliemie.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-VAL-DVG\HOME;initial catalog=ppe4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>